.header{
   width: 80%;

}

.scrollableContainer {
    width: 100%;
    height: 1000px;
    overflow-y: auto;
}

.onAdd , .onSort {
    background-color: #C2FBD7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #008000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
    margin-right: 20px;

}